@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?tiu2yi");
  src: url("./fonts/icomoon.eot?tiu2yi#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?tiu2yi") format("truetype"),
    url("./fonts/icomoon.woff?tiu2yi") format("woff"),
    url("./fonts/icomoon.svg?tiu2yi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
}

.icon-instagram:before {
  content: "\e901";
}

.icon-twitter:before {
  content: "\e902";
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(257, 40%, 49%);
  font-family: open sans;
  color: #fff;
  background-image: url(img/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  height: 150px;
  width: 100vw;
  display: flex;
  align-items: center;
}

.header img {
  width: 200px;
  margin-left: 70px;
}

.hero {
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 31px;
}

.hero-img {
  width: 50%;
}

.hero img {
  width: 100%;
}

.hero-description {
  width: 40%;
  height: auto;
}

.hero-description_title {
  width: 80%;
  margin-top: 50px;
  font-size: 2em;
  font-family: poppins;
  font-weight: 600;
  letter-spacing: 1px;
}

.hero-description_text {
  width: 90%;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0.5em 0;
}

.hero button {
  font-family: poppins;
  font-size: 1em;
  padding: 0.7em 3.7em;
  margin: 0.5em 0;
  border-radius: 50px;
  box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.541);
  border: #fff;
  color: hsl(257, 40%, 49%);
}

.social {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
   padding: 0 30px; 
   padding-right: 70px;
}

.social-link {
  margin-right: .1em;
  padding: 0 10px;
}

.social-link i {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  justify-content: flex-end;
  border: 1px solid white;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.social-link i:hover {
  background-color: #fff;
  color: hsl(257, 40%, 49%);
}

.hero button:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.541);
}

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1290px) {
 
  .hero-description_title {
    width: 90%;
   font-size: 2em;
 } 

}
@media screen and (max-width: 1070px) {
  .hero{
    height: auto;
  }
  .hero-description_title {
    font-size: 1.7em;

    margin-top: 0;
  }
  .hero-description_text{
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {

  body {
    font-size: 10px;
    background-image: url(img/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .header {
    height: 100px;
  }

  .header img {
    margin-left: 20px;
    width: 150px;
  }

  .hero {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
  }

  .hero-img {
    text-align: center;
    width: 100vw;
    margin: auto;
    height: auto;
    font-size: 5px;
  }

  .hero img{
    width: 95%;
  }

  .hero-description {
    margin-top: 30px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-description_title {
    padding: 0 30px;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #fff;
    width: auto;
  }

  .hero-description_text {
    padding: 10px 20px ;
    width: auto;
    color: #fff;
    text-align: center;
    font-size: 1.7em;
    
  }

  .social {
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 15px 0;
    
  }

  .social-link {
    margin: 15px 0;
  }
  .hero button {
  
    padding: 0.9em 5.5em;
    }
}
@media screen and (max-width: 480px) {

  .hero {
    margin: 30px 25px;
  }
  .hero-description_title{
    padding: 0 35px;
  }
}
@media screen and (max-width: 333px) {

 .hero-description_title {
   font-size: 2em;
   padding: 0;
  }

  .hero-description_text{
    font-size: 1.5em;
    padding: 0 7px;
  }
  
}








